# 忽略指定文件
# HelloWrold.class
*.iml

# 忽略指定文件夹
.idea/
target/
adaptation/
affected/
app/
libCallers/
clientCallers/
clientFieldUsages/
clientTypeUsages/
breakingChanges/
breakingChanges1/
breakingChanges1_old/
breakingChanges_old/

*.csv
*.txt
*.log*
*.jar
.DS_Store

